<ion-header>

  <ion-toolbar>
    <img src="../../../assets/images/icon2.png" style="width: 200px;" routerLink="" alt="">
    <ion-title><ion-button slot="start">
    </ion-button></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
  <ion-card style="width: 100px;height: 200px;" routerLink="/login">
    <img alt="admin" src="../../../assets/images/admin.jpg" />
    <ion-card-header>
      <ion-card-title>Sign in</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card style="width: 100px;height: 200px;" routerLink="/registerr">
    <img alt="client" src="../../../assets/images/client.jpg" />
    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-item>
</ion-content>
